* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #100720;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}

.logo img {
  color: white;
  width: 70px;
  margin-left: 60px;
}

.menu {
  display: flex;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 10px;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.menu a:hover {
  background-color: #FF4E88;
}

@media (max-width: 768px) {
  .menu {
      flex-direction: column;
      position: absolute;
      top: 50px;
      right: 0;
      background-color: #333;
      width: 100%;
      display: none;
  }
  .menu.active {
      display: flex;
  }
  .menu a {
      text-align: center;
      padding: 15px;
  }
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .hamburger {
      display: block;
      cursor: pointer;
      color: white;
      font-size: 24px;
  }
}

.hero{
  min-height: 100;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  margin-bottom: 9%;
}

.content{
  width: 40%;
  color: white;
  margin-left: 60px;
  margin-top: 100px;
}

.content h1{
  font-size: 40px;
}

.content p{
  color: #D3D3D3;
}

section .harga{
  font-size: 180%;
}

.shape {
  z-index: -1;
  margin-top: 25vh;
  margin-left: 40vh;
  width: 65vh;
  height: 30vh;
  position: absolute; 
  background-color: #FF4E88;
  filter: blur(100px); 
  border-radius: 50%;
}

.container img{
  margin-left: 50%;
}

footer {
  background-color: #FF4E88;
  color: #fff;
  padding: 20px 0;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.footer-about, .footer-links, .footer-social, .footer-contact {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-links ul, .footer-social ul {
  list-style-type: none;
  padding: 0;
}

.footer-links a, .footer-social a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover, .footer-social a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #555;
  padding-top: 10px;
}

